
body {
	background-image:url("http://www.momorialcards.com/images/blue_background_with_fibers.jpg"); 
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}

#svdplogo {
	position:absolute;
	left:0px;
	top:0px;
}


#walkAmile {
	position:absolute;
	right: 0px;
	top:0px;
}

#Directore {
	position:fixed;
	top:175px;
	
}
