
body {
	background-image:url("http://www.momorialcards.com/images/blue_background_with_fibers.jpg"); 
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}

#svdplogo {
	position:absolute;
	left:0px;
	top:20px;
	padding-left:8px;
	
}


#Directory {
	position:absolute;
	top:190px;
	left:0px;
	padding-left:8px;
	
}

#OLLparish {
	position:fixed;
	bottom:200px;
}