
body {
	background-image:url("http://www.momorialcards.com/images/blue_background_with_fibers.jpg"); 
	background-repeat:no-repeat;
	background-position:center;
	background-size: 100% 100%;
}

#svdplogo {
	position:absolute;
	left:0px;
	top:20px;
	padding-left:8px;
	
}


#Directory {
	position:absolute;
	top:190px;
	left:0px;
	padding-left:8px;
	
}

#OLLparish {
	position:relative;
	width:100%;
	top:300px;
	padding:7px;
}

h2 {
	position:absolute;
	top:275;
	right:50px;
	width:100%;
	color:rgb(153,204,255);
	border-style:solid;
	border-width:5px;
	background-color:rgb(255,255,255)
	
}
