
 
body {
margin:0px;
font-family:Arial;
font-size:11px;
color:#000000;
text-align:justify;
text-transform:none;
letter-spacing:0px;
line-height:100%;
background:;
scrollbar-track-color:#ffffff;
scrollbar-face-color:#ffffff;
scrollbar-shadow-color:rgb(102,153,255);
scrollbar-arrow-color:rgb(102,153,255);
}
.mouse {
	cursor: url(http://i.imgur.com/l7kkQKW.png), auto;
}

 
 
#container {
width:840px;
height:100%;
margin-left:auto;
margin-right:auto;
margin-top:18px;
padding:20px;
}


 
#topbar {
background-color:rgb(102,153,255);
top:0px;
width:100%;
position:fixed;
margin-left:0px;
z-index:1;
}
 
.links {
left:0px;
font-size:11px;
font-weight:300;
text-transform:uppercase;
padding:20px;
padding-bottom:18px;
}
 
.links a {
color:#000000;
margin-left:15px;
margin-right:15px;
}
 
.links a:hover {
color:#ffffff;
}
 
#title {
width:auto;
font-family:Consolas;
text-transform:uppercase;
font-weight:700;
font-size:12px;
letter-spacing:0px;
color:#ffffff;
display:inline-block;
margin-right:15px;
}
 
#header img {
width:840px;
height:400px;
margin-top:0px;
margin-left:auto;
margin-right:auto;
}
 
#sidebar {
width:250px;
margin-top:50px;
margin-left:0px;
position:absolute;
}
 
#first {
padding:20px;
}
 
.first-title {
color:#000000;
font-family:Consolas;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
text-align:center;
letter-spacing:2px;
padding:5px;
border:1px solid;
color:#000000;
display:inline-block;
}
 
.first-content {
margin-top:13px;
font-size:11px;
text-align:justify;
font-family:Arial;
word-spacing:4px;
}
 
#second {
padding:20px;
margin-top:20px;
}
 
.second-title { 
font-family:Consolas;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
text-align:center;
letter-spacing:0px;
padding:5px;
display:inline-block;
}
 

 
#third {
padding:20px;
margin-top:20px;
margin-bottom:100%;
}
 
.third-title {
  font-family:Consolas;
text-transform:uppercase;
font-size:13px;
font-weight:bold;
text-align:center;
letter-spacing:0px;
padding:5px;
display:inline-block;
}








